{{ "{{" }}- if .Values.podDisruptionBudget.enabled {{ "}}" }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ service_name }}-integration
spec:
  minAvailable: {{ "{{" }} .Values.podDisruptionBudget.minAvailable {{ "}}" }}
  selector:
    matchLabels:
      app: {{ service_name }}-integration
{{ "{{" }}- end {{ "}}" }}
